<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="TeamCityDefaults" type="JiraWithTC.TeamCityDefaults, JiraWithTC" />
        <section name="JiraDefaults" type="JiraWithTC.JiraDefaults, JiraWithTC" />
    </configSections>
    
    <TeamCityDefaults>
        <add name="" url="" user="" pass="" urlToSend="" devBuildId="" 
             buildIdToWatch="" branchNameToIgnore="release, master, develop" />
    </TeamCityDefaults>

    <JiraDefaults>
        <add name="default" 
             url="" 
             user="" 
             pass=""
             projectKey="" 
             transitionTestId="" 
             transitionReleaseId="" 
             transitionFailedTestId=""
             transitionFailedReleaseId="" 
             transitionTestName="" 
             transitionReleaseName="e"
             urlByDefault="" />
    </JiraDefaults> 
</configuration>